@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #172554;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

@font-face {
    font-family: "Atyp-regular";
    src: url("./public/fonts/AtypDisplayTRIAL-Regular-BF65727125d566e.otf");
}
@font-face {
    font-family: "Atyp-bold";
    src: url("./public/fonts/AtypDisplayTRIAL-Bold-BF65727125c8d1d.otf");
}